<p>USERS TABLE</p>
<mat-table [users]="users" *ngFor="let user of users" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> <strong>Name:</strong> {{user.name}}</mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> <strong>Email: </strong>{{user.email}}</mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef> 
            <button mat-raised-button color="primary" (click)="openDeleteUserDialog(user.id)">Delete User</button>
            <button mat-raised-button color="primary" (click)="openUpdateUserDialog(user.id)">Update User</button>
        </mat-header-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<p *ngIf="users.length">
    <button mat-raised-button color="primary"  type="button" [disabled]=" countPage + 1  == currentPage"
        (click)="getUsers()">More Users</button>

    <button mat-raised-button color="primary" (click)="openCreateUserDialog()">Add User</button>
    
</p>

<button mat-raised-button color="primary" type="button" (click)="logout()">Logouut</button>